@media(min-width:768px) {
    #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;

    }
    .subject-list{
        margin-top:9px;
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
        border-radius: 0px;
    }

}
@media(max-width:480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }
}